*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}

.recode-logo{
    width: 10%;
    position: relative;
}

.menu-list {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5em; 
    padding: 2.5em
}

.menu-list a { 
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.menu-list a:hover{
    border-bottom: solid 1px white;
}

.imagem-container {
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

.button-container{
    display: flex;
    margin-top: -45%;
    align-items:center;
    justify-content: center;
}

.button {
    font-size: 16px;
    width: 20%;
    margin: 1em;
    padding: 3em;
    border: none;
    border-radius: 12px;
    background-color: blueviolet;
}

.button:hover {
    background-color: rgb(43, 5, 80);
}

.button a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}


.container-form {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.form {
    flex: 1;
    padding: 5%;
    border-radius: 12px;
}

.form-box {
    margin-bottom: 2em;
}

.form-box, input {
    width: 100%;
    padding: 2%;
}

.form-button {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.submit {
    width: 100%;
    padding: 1.5em;
    font-size: 16px;
    border: solid 1px black;
    border-radius: 16px;
}

.title {
    font-size: 24px;
    margin-bottom: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.imagem {
    width: 80%;
}


.form-container {
    display: flex;
    width: 100%; 
}

#campo-descricao {
    width: 100%;
    height: 200px;
}

.imagem-form {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.imagem {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.text-container {
    background-color: blueviolet;
    padding: 8%;
    margin-bottom: 2%;
}

.text-container, p {
    font-size: 18px;
    color: white;
}

.text-paragrafo {
    color: white;
}

.icon-section {
    margin-top: 45%;
}

.container-icones {
    display: flex;
    text-align: center;

    margin: 10% 0 10% 0;
    
}

.descricao-icon {
    width: 30%;
    margin: 0 2em;
}

.icones {
    width: 50%;
}

.text {
    margin-top: 2em;
}

.text, p {
    color: black;
}

.footer-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 5%;
}

.footer-list a { 
    font-size: 14px;
    text-decoration: none;
    color: black;
    
}

.section-button {
    display: flex;
    justify-content:end;
    margin-top: 2%;
}

.main-button{
    font-size: 16px;
    width: 15%;
    margin: 1;
    padding: 1.5em;
    border: solid 1px white;
    border-radius: 18px;
    background-color:blueviolet;
}

.main-button, a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.main-button:hover {
    background-color: rgb(43, 5, 80);
}
